<nav class="app-header navbar navbar-expand">
  <div class="container-fluid">
    <!-- Links da Esquerda -->
    <ul class="navbar-nav">
      <li class="nav-item">
        <!-- Este data-lte-toggle faz o Javascript do AdminLTE abrir/fechar o menu -->
        <a class="nav-link" data-lte-toggle="sidebar" href="#" role="button">
          <i class="bi bi-list"></i>
        </a>
      </li>
      <li class="nav-item d-none d-md-block">
        <a href="/home" class="nav-link">Home</a>
      </li>
    </ul> 
    
    <!-- Links da Direita (Perfil) -->
    <ul class="navbar-nav ms-auto">
      <li class="nav-item">
        <button class="nav-link btn btn-link" (click)="onToggle()" title="Alternar Tema">
          @if(isDarkMode()){
            <i class="bi bi-sun-fill text-warning"></i>
          }@else{
            <i class="bi bi-moon-fill"></i>
          }
        </button>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#" role="button">
          <i class="bi bi-person-circle"></i> Sair
        </a>
      </li>
    </ul>

  </div>
</nav>
