<div class="login-page bg-body-secondary d-flex align-items-center justify-content-center vh-100">
  <div class="login-box" style="width: 360px;">
    <div class="card card-outline card-primary shadow">
      <div class="card-header text-center">
        <h1 class="h3 mb-0"><b>Portal</b>Cidadão</h1>
      </div>
      <div class="card-body login-card-body">
        <p class="login-box-msg">Faça login para iniciar sua sessão</p>
        
        <!-- Formulário simples de login -->
        <form>
          <div class="input-group mb-3">
            <input type="email" class="form-control" placeholder="Login">
            <div class="input-group-text"><span class="bi bi-envelope"></span></div>
          </div>
          
          <div class="input-group mb-3">
            <input type="password" class="form-control" placeholder="Senha">
            <div class="input-group-text"><span class="bi bi-lock-fill"></span></div>
          </div>
          
          <div class="row">
            <div class="col-12">
              <button type="submit" class="btn btn-primary w-100">Entrar</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
